.box-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 0px 30px;
    /* background: #999; */
    border: 1px solid #000;
    flex-wrap: wrap;
}