.box{
    min-height: 125px;
    width: 125px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    flex-direction: column;
    background: lightgoldenrodyellow;
    border: 2px solid #000;
}